<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiMovie</title>
    <meta name="description" content="Find your movie">
    <meta name="author" content="HiMovie">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="text-center" style="margin-top: 5rem; font-size: 4rem; font-family:'impact', fantasy;">HiMovie</h1>
<div class="div_start">

        <div class="login">
            <h3 style="margin-bottom: -10px; text-align:center;"> Logowanie</h3>
            <label for="username" style="font-size:1rem;">Nazwa użytkownika:</label>
            <input type="text" id="username"><br>
            <label for="password" style="font-size:1rem;">Hasło:</label>
            <input type="text" id="password"><br><br>
            <a href="movie_form.html" ><button class="btn_custom">Zaloguj się</button></a><br>
            <a href="registration_page.html">Załóż konto</a><br>
            <a href="movie_form.html">Pomiń logowanie</a><br>


        </div>


</div>
</body>
</html>