<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HiMovie</title>
  <meta name="description" content="Find your movie">
  <meta name="author" content="HiMovie">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet"> 
</head>

<body>
    <div class="div_start">
        <div>
            <h2>Podpowiedz nam trochę</h2>
           
                <div class="form-group">
                    <label>Wybierz kategorię</label>
                    <!-- <select class="form-control" id="category">
                        <option>Komedia</option>
                        <option>Dramat</option>
                        <option>Sci-Fi</option>
                    </select> -->
                    <input type="text" class="form-control" id="category">
                    <label for="category_intensity">Jak bardzo zależy ci na kategori?</label>
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="category_intensity">
                    <label>Wybierz przedział lat</label>
                    <div class="div_year">
                        <label class="lable_year" style="padding-top: 0; font-size: 1rem;">Start</label>
                        <select class="form-control" id="start">
                            <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                            <option>2004</option>
                            <option>2005</option>
                            <option>2006</option>
                            <option>2007</option>
                        </select>
                        <label class="lable_year" style="padding-top: 0; font-size: 1rem;">Koniec</label> 
                        <select class="form-control" id="end">
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                        </select>
                    </div>
                    <label for="year_intensity">Jak bardzo zależy ci na przedziale czasowym?</label>
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="year_intensity">
                    <label>Podaj ocene filmu</label>
                    <input type="text" class="form-control" id="rate">
                    <label for="rate_intensity">Jak bardzo zależy ci na ocenie filmu?</label>
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="rate_intensity">
                    <label>Wybierz kraje produkcji</label>
                    <select class="form-control" id="country">
                        <option>USA</option>
                        <option>Francja</option>
                        <option>Hiszpania</option>
                    </select>
                </div>
                <button class="btn btn_movie_form">Dalej</button>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/form_script.js"></script>

</body>
</html>