<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HiMovie</title>
  <meta name="description" content="Find your movie">
  <meta name="author" content="HiMovie">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet"> 
  <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>

<body>

<div class="title_container"><h1 class="text-center" id="title" >HiMovie</h1></div>
    <div class="div_start">
        <div>
            <h2>Podpowiedz nam trochę</h2>
           
                <div class="form-group">
                    <label>Wybierz gatunek </label><h6>(Wybór kilku: Przyrzymaj Ctrl)</h6>
                    <select multiple class="form-control" id="category" style="width:50%;">
                        <option value="Komedia">Komedia</option>
                        <option value="Dramat">Dramat</option>
                        <option value="Kryminał">Kryminał</option>
                        <option value="Akcja">Akcja</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Dramat historyczny">Dramat historyczny</option>
                        <option value="Animacja">Animacja</option>
                        <option value="Familijny">Familijny</option>
                        <option value="Wojenny">Wojenny</option>
                        <option value="Melodramat">Melodramat</option>
                        <option value="Katastroficzny">Katastroficzny</option>
                        <option value="Psychologiczny">Psychologiczny</option>
                        <option value="Gangsterki">Gangsterki</option>
                        <option value="Biograficzny">Biograficzny</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Przygodowy">Przygodowy</option>
                        <option value="Surrealistyczny">Surrealistyczny</option>
                        <option value="Horror">Horror</option>
                        <option value="Western">Western</option>
                        <option value="Komedia kryminalna">Komedia kryminalna</option>
                        <option value="Sensacyjny">Sensacyjny</option>
                        <option value="Dramat obyczajowy">Dramat obyczajowy</option>
                        <option value="Kostiumowy">Kostiumowy</option>
                        <option value="Muzyczny">Muzyczny</option>

                    </select>


                    <label for="category_intensity" style="font-size:1.1rem;">Jak bardzo zależy ci na gatunku?</label>
					<br>
					<div class="element1">1</div>
					<div class="element2">
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="category_intensity">
                    </div>
					<div class="element3">10</div>
					<label>Wybierz przedział lat</label>
                    <div class="div_year">
						<div class="formctrl">
                        <select class="form-control" id="start">
                            <option>1951</option>
                            <option>1956</option>
                            <option>1961</option>
                            <option>1966</option>
                            <option>1971</option>
                            <option>1976</option>
                            <option>1981</option>
                            <option>1986</option>
                            <option>1991</option>
                            <option>1996</option>
                            <option>2001</option>
                            <option>2006</option>
                            <option>2011</option>
                            <option>2016</option>
							 <option>2017</option>
                            <option>2018</option>
                        </select>
						</div>
						<div>
                        <label style="padding-top: 0; font-size: 1rem;">-</label> 
                        </div>
						<div class="formctrl">
                        <select class="form-control" id="end">
                            <option>1956</option>
                            <option>1961</option>
                            <option>1966</option>
                            <option>1971</option>
                            <option>1976</option>
                            <option>1981</option>
                            <option>1986</option>
                            <option>1991</option>
                            <option>1996</option>
                            <option>2001</option>
                            <option>2006</option>
                            <option>2011</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                        </select>
						</div>
                    </div>
                    <label for="year_intensity" style="font-size:1.1rem;">Jak bardzo zależy ci na okresie produkcji?</label>
                    <br>
					<div class="element1">1</div>
					<div class="element2">
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="year_intensity">
                    </div>
					<div class="element3">10</div>
                    <label>Podaj ocenę filmu</label>
					<input type="text" class="form-control" id="rate" style="width:30%;">
                    <label for="rate_intensity" style="font-size:1.1rem;">Jak bardzo zależy ci na ocenie filmu?</label>
                    <br>
					<div class="element1">1</div>
					<div class="element2">
                    <input type="range" class="custom-range" min="1" max="9" step="2" id="rate_intensity">
                    </div>
					<div class="element3">10</div>
                    <label>Wybierz kraje produkcji</label>
                    <select class="form-control" id="country">
                        <option>USA</option>
                        <option>Francja</option>
                        <option>Hiszpania</option>
                    </select>
                </div>
                <button class="btn btn_movie_form">Dalej</button>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/form_script.js"></script>

</body>
</html>
