<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HiMovie</title>
  <meta name="description" content="Find your movie">
  <meta name="author" content="HiMovie">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet"> 
  <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>

<body>
<div class="title_container"><h1 class="text-center" id="title" style="margin-top:20px;" >HiMovie</h1></div>
    <div class="div_start ">
        <div class="container justify-content">
            <h2 style="text-align:center;">Co wolisz?</h2>
            <div class="row justify-content-md-center">
                <div class="card" style="width: 15rem; height: 23rem; margin: 2rem;" id="movie1" onclick="sendMovie1()">
                    <img class="card-img-top" alt="Card image cap" id="img1" style="height:16rem;">
                    <div class = "img1desc"></div>
                    <div class="card-body">
                        <h5 class="card-title" id="title1"></h5>
                        <p class="card-text"  style="font-size: 8px;"  id="description1"></p>
                    </div>
                </div>
                <div class="card" style="width: 15rem; height: 23rem; margin: 2rem;" onclick="sendMovie2()">
                    <img class="card-img-top" alt="Card image cap" id="img2" style="height:16rem;">
                    <div class = "img2desc"></div>
                    <div class="card-body">
                        <h5 class="card-title" id="title2"></h5>
                        <p class="card-text" style="font-size: 8px;" id="description2"></p>
                    </div>
                </div>
            </div>

            <label for="intensity" style="text-align:center;width:100%;">Jak bardzo wolisz wybrany film?</label>
			<div class="element1">Bez różnicy</div>
            <div class="element2"><input type="range" class="custom-range" min="1" max="9" step="2" id="intensity"></div>
			<div class="element3">Zdecydowanie wybrany film</div>
            

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/pair_compare.js"></script>

</body>
</html>
